In [0]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from google.colab import drive
drive.mount('/content/drive')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Dataset : Movielens
https://grouplens.org/datasets/movielens/100k

In [0]:
# Reading ratings file
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ratings.csv', sep=',', encoding='latin-1', usecols=['userId','movieId','rating','timestamp'])

# Reading movies file
movies = pd.read_csv('/content/drive/My Drive/Colab Notebooks/movies.csv', sep=',', encoding='latin-1', usecols=['movieId','title','genres'])

In [0]:
df_movies = movies 
df_ratings = ratings

## Implementation of Item-Item Filtering

In [0]:
df_movies_ratings=pd.merge(df_movies, df_ratings)

In [0]:
df_movies_ratings

        movieId                                      title  ... rating   timestamp
0             1                           Toy Story (1995)  ...    4.0   964982703
1             1                           Toy Story (1995)  ...    4.0   847434962
2             1                           Toy Story (1995)  ...    4.5  1106635946
3             1                           Toy Story (1995)  ...    2.5  1510577970
4             1                           Toy Story (1995)  ...    4.5  1305696483
...         ...                                        ...  ...    ...         ...
100831   193581  Black Butler: Book of the Atlantic (2017)  ...    4.0  1537109082
100832   193583               No Game No Life: Zero (2017)  ...    3.5  1537109545
100833   193585                               Flint (2017)  ...    3.5  1537109805
100834   193587        Bungo Stray Dogs: Dead Apple (2018)  ...    3.5  1537110021
100835   193609        Andrew Dice Clay: Dice Rules (1991)  ...    4.0  1537157606

[100836 rows x 6 columns]

Pivot table does one to one maping between movies, user and their rating. 
So by default pivot_table command takes average if we have multiple values of one combination.

In [0]:
ratings_matrix_items = df_movies_ratings.pivot_table(index=['movieId'],columns=['userId'],values='rating').reset_index(drop=True)
ratings_matrix_items.fillna( 0, inplace = True )
ratings_matrix_items.shape

(9724, 610)

## User-Item Filtering

Here, rows are userId and columns are movieId as we get a vector of different users.
Hence, we get the distance and similarity between users.

In [0]:
ratings_matrix_users = df_movies_ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating').reset_index(drop=True)
ratings_matrix_users.fillna( 0, inplace = True )
movie_similarity = 1 - pairwise_distances( ratings_matrix_users, metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_users = pd.DataFrame( movie_similarity )
ratings_matrix_users

          0         1         2    ...       607       608       609
0    0.000000  0.027283  0.059720  ...  0.291097  0.093572  0.145321
1    0.027283  0.000000  0.000000  ...  0.046211  0.027565  0.102427
2    0.059720  0.000000  0.000000  ...  0.021128  0.000000  0.032119
3    0.194395  0.003726  0.002251  ...  0.149858  0.032198  0.107683
4    0.129080  0.016614  0.005020  ...  0.135535  0.261232  0.060792
..        ...       ...       ...  ...       ...       ...       ...
605  0.164191  0.028429  0.012993  ...  0.262558  0.069622  0.201104
606  0.269389  0.012948  0.019247  ...  0.283081  0.149190  0.139114
607  0.291097  0.046211  0.021128  ...  0.000000  0.121993  0.322055
608  0.093572  0.027565  0.000000  ...  0.121993  0.000000  0.053225
609  0.145321  0.102427  0.032119  ...  0.322055  0.053225  0.000000

[610 rows x 610 columns]

Here now we have similarity of users in colums with respective users in row. So if we find maximum value in a column we will get the user with highest similarity. So now we can have a pair of users which are similar.

In [0]:
ratings_matrix_users.idxmax(axis=1)

0      265
1      365
2      312
3      390
4      469
      ...
605    473
606    569
607    479
608    339
609    248
Length: 610, dtype: int64

In [0]:
ratings_matrix_users.idxmax(axis=1).sample( 10, random_state = 10 )

547     76
241    467
277    337
348    454
218    238
407    278
352     45
97     600
381     20
607    479
dtype: int64

In [0]:
similar_user_series= ratings_matrix_users.idxmax(axis=1)
df_similar_user= similar_user_series.to_frame()

In [0]:
df_similar_user.columns=['similarUser']

In [0]:
df_similar_user

     similarUser
0            265
1            365
2            312
3            390
4            469
..           ...
605          473
606          569
607          479
608          339
609          248

[610 rows x 1 columns]

Below function takes id of the user to whom we have to recommend movies. On basis of that, we find the user which is similar to that user and then filter the movies which are highly rated by the user to recommend them to given user.

In [0]:
movieId_recommended=list()
def getRecommendedMoviesAsperUserSimilarity(userId):
    """
     Recommending movies which user hasn't watched as per User Similarity
    :param user_id: user_id to whom movie needs to be recommended
    :return: movieIds to user 
    """
    user2Movies= df_ratings[df_ratings['userId']== userId]['movieId']
    sim_user=df_similar_user.iloc[0,0]
    df_recommended=pd.DataFrame(columns=['movieId','title','genres','userId','rating','timestamp'])
    for movieId in df_ratings[df_ratings['userId']== sim_user]['movieId']:
        if movieId not in user2Movies:
            df_new= df_movies_ratings[(df_movies_ratings.userId==sim_user) & (df_movies_ratings.movieId==movieId)]
            df_recommended=pd.concat([df_recommended,df_new])
        best10=df_recommended.sort_values(['rating'], ascending = False )[1:10]  
    return best10['movieId']

In [0]:
user_id=288
recommend_movies= movieIdToTitle(getRecommendedMoviesAsperUserSimilarity(user_id))
print("Movies you should watch are:\n")
print(recommend_movies)

Movies you should watch are:

[1431    Rocky (1976)
Name: title, dtype: object, 742    African Queen, The (1951)
Name: title, dtype: object, 733    It's a Wonderful Life (1946)
Name: title, dtype: object, 939    Terminator, The (1984)
Name: title, dtype: object, 969    Back to the Future (1985)
Name: title, dtype: object, 510    Silence of the Lambs, The (1991)
Name: title, dtype: object, 1057    Star Trek II: The Wrath of Khan (1982)
Name: title, dtype: object, 1059    Star Trek IV: The Voyage Home (1986)
Name: title, dtype: object, 1939    Matrix, The (1999)
Name: title, dtype: object]

## **Evaluating the model**

Returning common movies and ratings of same for both the users
user1,user2: user ids of 2 users need to compare
and return: movieIds to user

In [0]:
def get_user_similar_movies( user1, user2 ):
    
    common_movies = df_movies_ratings[df_movies_ratings.userId == user1].merge(
      df_movies_ratings[df_movies_ratings.userId == user2],
      on = "movieId",
      how = "inner" )
    common_movies.drop(['movieId','genres_x','genres_y', 'timestamp_x','timestamp_y','title_y'],axis=1,inplace=True)
    return common_movies

In [0]:
get_user_similar_movies(587,511)

                                       title_x  userId_x  ...  userId_y  rating_y
0                          Forrest Gump (1994)       587  ...       511       4.5
1  Life Is Beautiful (La Vita Ã¨ bella) (1997)       587  ...       511       4.5
2                           Matrix, The (1999)       587  ...       511       5.0

[3 rows x 5 columns]